<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
	
 
    <bean id="personSingleton1" class="com.laposte.pic.examples.Person" scope="singleton">
    	<property name="name" value="Barbara" />
     </bean>   	 
     
    <bean id="personSingleton2" class="com.laposte.pic.examples.Person" scope="singleton">
       	<property name="name" value="Laurence" />
    </bean>   	
        
</beans>